# Procesing Test data

Imports and file reading

In [1]:
%load_ext autoreload
%autoreload 2

%matplotlib inline

In [2]:
from fastai.imports import *
from fastai.structured import *

from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display

from sklearn import metrics
import gc

In [4]:
PATH = "data/"
!ls {PATH}

test.csv  train.csv

In [5]:
!head -5 data/test.csv
!tail -6 data/test.csv

id,date,store_nbr,item_nbr,onpromotion
125497040,2017-08-16,1,96995,False
125497041,2017-08-16,1,99197,False
125497042,2017-08-16,1,103501,False
125497043,2017-08-16,1,103520,False
128867498,2017-08-31,54,2131699,False
128867499,2017-08-31,54,2132163,False
128867500,2017-08-31,54,2132318,False
128867501,2017-08-31,54,2132945,False
128867502,2017-08-31,54,2132957,False
128867503,2017-08-31,54,2134244,False

In [10]:
types={'id':'int64',
       'store_nbr':'int8', 
       'item_nbr':'int32',
       'onpromotion':'object'}

In [14]:
%%time
df_test = pd.read_csv(f'{PATH}test.csv', parse_dates = ['date'], dtype = types, infer_datetime_format = True)

CPU times: user 2.35 s, sys: 60.2 ms, total: 2.41 s
Wall time: 2.41 s

In [15]:
df_test.onpromotion.fillna(False, inplace = True)
df_test.onpromotion = df_test.onpromotion.map({'False': False, 'True' : True})
df_test.onpromotion = df_test.onpromotion.astype(bool)

In [13]:
%time df_test.describe(include='all')

CPU times: user 599 ms, sys: 8.17 ms, total: 607 ms
Wall time: 607 ms

,id,date,store_nbr,item_nbr,onpromotion
count,3.370464e+06,3370464,3.370464e+06,3.370464e+06,3370464
unique,NaN,16,NaN,NaN,2
top,NaN,2017-08-27 00:00:00,NaN,NaN,False
freq,NaN,210654,NaN,NaN,3171867
first,NaN,2017-08-16 00:00:00,NaN,NaN,NaN
last,NaN,2017-08-31 00:00:00,NaN,NaN,NaN
mean,1.271823e+08,NaN,2.750000e+01,1.244798e+06,NaN
std,9.729693e+05,NaN,1.558579e+01,5.898362e+05,NaN
min,1.254970e+08,NaN,1.000000e+00,9.699500e+04,NaN
25%,1.263397e+08,NaN,1.400000e+01,8.053210e+05,NaN
50%,1.271823e+08,NaN,2.750000e+01,1.294665e+06,NaN
75%,1.280249e+08,NaN,4.100000e+01,1.730015e+06,NaN
max,1.288675e+08,NaN,5.400000e+01,2.134244e+06,NaN

In [16]:
%time add_datepart(df_test, 'date')

CPU times: user 1.26 s, sys: 180 ms, total: 1.44 s
Wall time: 1.44 s

In [18]:
df_test.tail()

,id,store_nbr,item_nbr,onpromotion,Year,Month,Week,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
3370459,128867499,54,2132163,False,2017,8,35,31,3,243,True,False,False,False,False,False,1504137600
3370460,128867500,54,2132318,False,2017,8,35,31,3,243,True,False,False,False,False,False,1504137600
3370461,128867501,54,2132945,False,2017,8,35,31,3,243,True,False,False,False,False,False,1504137600
3370462,128867502,54,2132957,False,2017,8,35,31,3,243,True,False,False,False,False,False,1504137600
3370463,128867503,54,2134244,False,2017,8,35,31,3,243,True,False,False,False,False,False,1504137600

Save raw data to disk

In [20]:
df_test.to_feather('tmp/test_data')

In [22]:
df_test = None

In [23]:
gc.collect()

50